export(avg_gx)
export(avg_mu)
export(fitadmb)
export(fitdata)
export(flnl)
export(fx)
export(fx.eps)
export(gx)
export(gx.eps)
export(mu)
export(plotfit)
export(prepare_admb)
export(simdata)
